#detalleEjercicio{
    margin: 40px;
    border-width:2px;
    background-color: lightsteelblue;
    border: 2px solid green;
    
    
}
h3{
    margin-top: 15px;
}
.campoDetalle{
    margin: 15px;

}
.campoDetalleSolucion{
    color:white;
    font-style: initial;
    font-size: xx-large;
}