<div class="example-card">
  
  <img mat-card-image src="https://www.iesvirgendelcarmen.com/ies/sites/default/files/styles/slider_portada/public/slider_portada/Portada0.jpg?itok=2Kp49flh" alt="IES Virgen del Carmen">
  <div style="margin-top: 14px">
    <p><a href="https://www.iesvirgendelcarmen.com">www.iesvirgendelcarmen.com</a>
    </p>

    <p><b>Autor:</b> Fernando M Cuadros Hornos</p>
    <p><b>Correo:</b> f.manu_97@hotmail.com</p>     

    <p><b>Aplicación:</b> Aplicación que nos permite poner a prueba nuestro ingenio<br>
       con un listado de acertijos esperando a ser resueltos,y además,<br>
      ¡¡ tambien podemos agregar nuestros propios acertijos !! </p>

    </div>
  
</div>